    checkPolicies=true
    forceCheckAllDependencies=true
    #check policies at the end of the scan. The default is to complete the scan and only report in whitesource inventory.
    #with this option set true we can get feedback into the pipeline and fail the build on best-practice and custom policies.
    ...

    wss.url=https://saas.whitesourcesoftware.com/agent
    #ensure that the url matches your WhiteSource provided url with the /agent endpoint specified
    ...

    apiKey=
    #The API Key must be provided. It can be explicitly set at runtime, or provided in this config.
   #Privacy of source code is a major deciding factor on location.  We recommend setting the apiKey in your pipeline using secure variables.


    projectName=
    projectToken=
    #projectName or projectToken is required. Both are not accepted in a single configuration and will cause the scan to fail.

    productName=
    productVersion=
    productToken=
    #productName and productToken can both be given, but the requirement is for one or the other.

    includes=**/*.dll **/*.cs **/*.nupkg **/*.js
    #the config requires have 1 (and only 1) include line that defines the patterns of files to scan.

    nuget.resolvePackagesConfigFiles=false
    nuget.resolveCsProjFiles=true
    nuget.resolveDependencies=true
    nuget.restoreDependencies=true
    nuget.preferredEnvironment=dotnet
    nuget.packagesDirectory=
    nuget.ignoreSourceFiles=false
    nuget.runPreStep=true
    nuget.resolveNuspecFiles=false
    #These are recommended settings for .net core projects.